<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:spring="http://www.springframework.org/schema/beans"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
		    http://www.springframework.org/schema/beans 
		    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		    http://www.springframework.org/schema/aop 
		    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
       
   <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
   		<property name="prefix" value="/WEB-INF/jsp/"></property>
   		<property name="suffix" value=".jsp"></property>
   </bean>
   
<!--    <bean id="springSecurityFilterChain" class="cn.wulin.security.filter.MySecurityFilter"></bean> -->
   
    <!-- Spring中引入其他配置文件 -->
<!--     <import resource="classpath:spring-servlet.xml" /> -->
</beans>