<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:spring="http://www.springframework.org/schema/beans"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
	     
 	<bean id="userManager" name="userManager" class="cn.wulin.temp1.domain.properties.date.UserManager">
 		<spring:property name="dateValue" >
 			<spring:value>2018-11-28</spring:value>
 		</spring:property>
 	</bean>
 	<bean  class="org.springframework.beans.factory.config.CustomEditorConfigurer">
 		<spring:property name="customEditors" >
 			<spring:map>
 				<spring:entry key="java.util.Date">
 					<bean class="cn.wulin.temp1.domain.properties.date.DatePropertyEditor">
 						<property name="format" value="yyyy-MM-dd"/>
 					</bean>
 				</spring:entry>
 			</spring:map>
 		</spring:property>
 	</bean>
</beans>