<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:spring="http://www.springframework.org/schema/beans"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
       
 	<bean id="myTestBean" name="myTestBean" class="cn.wulin.temp1.domain.MyTestBean"/>
 	<bean id="myTestBean2" class="cn.wulin.temp1.domain.MyTestBean2">
 		<meta key="testStr2" value="aaaaa"/>
 	</bean>
 	<alias name="myTestBean" alias="myTestBeanAlias"/>
</beans>