<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:spring="http://www.springframework.org/schema/beans"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
       
 	<bean id="factory_bean_car" name="factory_bean_car" class="cn.wulin.temp1.domain.factory_bean.CarFactoryBean">
 		<spring:property name="carInfo" value="法拉第跑车,350,12000000"></spring:property>
 	</bean>

</beans>