<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>D:\repository</localRepository>
  <pluginGroups>
  </pluginGroups>

  <proxies>
  </proxies>

  <servers>
	
	<server>   
	<id>thirdparty</id>   
	<username>admin</username> 
	<password>admin123</password>   
	</server> 

  </servers>

  <mirrors></mirrors>
  <profiles>
   
	<profile>
      <id>nexus-releases</id>
      <repositories>
        <repository>
            <id>nexus-public-repository</id>
            <name>local private nexus</name>
            <url>http://wulin:81/nexus/content/groups/public</url>
            <releases><enabled>true</enabled></releases>
            <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
            <id>nexus-public-repository</id>
            <name>local private nexus</name>
            <url>http://wulin:81/nexus/content/groups/public</url>	
            <releases><enabled>true</enabled></releases>
            <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
       </pluginRepositories>
    </profile>
    
    <profile>
	   <id>jdk-1.7</id>
	   <activation>
		<activeByDefault>true</activeByDefault>
		<jdk>1.7</jdk>
	   </activation>
	   <properties>
		<maven.compiler.source>1.7</maven.compiler.source>
		<maven.compiler.target>1.7</maven.compiler.target>
		<maven.compiler.compilerVersion>1.7</maven.compiler.compilerVersion>
	   </properties>
	  </profile>
  </profiles>
  <activeProfiles>
        <activeProfile>nexus-releases</activeProfile>
  </activeProfiles>
</settings>
