<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:spring="http://www.springframework.org/schema/beans"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
		    http://www.springframework.org/schema/beans 
		    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		    http://www.springframework.org/schema/aop 
		    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
       
       <aop:aspectj-autoproxy expose-proxy="false" />
       <bean id="manualAopObtainBeanFactory" class="cn.wulin.temp1.domain.manual_create_bean_and_aop.manual_bean.ManualAopObtainBeanFactory"/>
       <bean class="cn.wulin.temp1.domain.manual_create_bean_and_aop.manual_aop.ManualAopAspect"/>
	 	
</beans>