<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:spring="http://www.springframework.org/schema/beans"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
       
 	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:properties/ioc.properties">
			<!--可以配置多个资源文件 -->
			<!-- 
			<list>
				<value>classpath:properties/ioc.properties</value>
			</list>
			 -->
		</property>
	</bean>
	     
 	<bean id="testProperies" name="testProperies" class="cn.wulin.temp1.domain.properties.TestProperies">
 		<spring:property name="name" value="${name}"/>
 	</bean>
</beans>